footer {
  margin-top: 5rem;
  background-color: $color-light-grey;
  box-shadow: 0px -5px 40px #00000029;
  .footer__container {
    min-height: 90px;
    @include display-flex(row, space-between, center);
    padding: 0 2.5rem;

    @include tablet() {
      @include container();
    }
    > .footer__container__copyright {
      @include display-flex(column);
      > a {
        @include choose-your-font($font-raleway, 300, 3.2rem, $primary-color);
      }

      > span {
        @include choose-your-font($font-open-sans, 400, 1.1rem, $color-grey);
      }
    }

    > nav {
      > img {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }
}
