section.calculator {
  //min-height: 500px;
  background-color: $color-light-grey;

  > .calculator__container {
    padding: 5rem 0 10rem 0;
    @include tablet() {
      @include display-flex();
      flex-wrap: wrap;
      @include container() {
        max-width: 865px;
      }
    }

    > h3 {
      @include choose-your-font($font-raleway, 400, 3.6rem, $color-black);
      text-align: center;
      width: 100%;
      margin-bottom: 5rem;
    }

    > form {
      @include choose-your-font($font-open-sans, 400, 1.3rem, $color-grey);
      @include display-flex(column, normal, normal);
      @include tablet() {
        width: calc(50% - 2.5rem);
        margin-right: 2.5rem;
      }

      > input, select {
        @include choose-your-font($font-open-sans, 400, 1.3rem, $color-grey);
        @extend %normalize-input;
        @include tablet() {
          margin: 1rem 0;
        }
        margin: 1rem;
      }

      > .calculator__container__checkbox {
        @include display-flex(row, normal, center);

        > label {
          font-size: 1.2rem;
        }

        > input[type="checkbox"] {
          margin: 1rem;
          @extend %normalize-checkbox;
          @include tablet() {
            margin: 1rem 1rem 1rem 0;
          }
        }
      }


    }

    > .calculator__container__pricing {
      @include tablet() {
        width: calc(50% - 2.5rem);
        margin-left: 2.5rem;
      }

      > .calculator__container__pricing__item {
        @include display-flex(row, space-between, center);
        @include choose-your-font($font-open-sans, 400, 1.4rem, $color-white);
        @include tablet() {
          margin: 1rem 0;
        }
        padding: 0.5rem 2rem;
        margin: 1rem;
        border-radius: 0.6rem;
        background-color: $color-green;

        > span:nth-child(3) {
          font-size: 1.8rem;
          font-weight: 600;
        }
      }

      > .calculator__container__pricing__item#itemProductsQuantity {
        > span:nth-child(2) {
          &:before {
            content: "$";
          }

          &:after {
            content: " * $0.5";
          }
        }
      }

      > .calculator__container__pricing__item#itemEstimatedOrdersInMonth {
        > span:nth-child(2) {
          &:before {
            content: "$";
          }

          &:after {
            content: " * $0.25";
          }
        }
      }

      > .calculator__container__pricing__item-totalSum {
        width: 178px;
        height: 38px;

        @include choose-your-font($font-open-sans, 400, 1.4rem, $color-white);
        @include display-flex(row, space-between, center);
        @include tablet() {
          margin-left: auto;
          margin-right: 0;
        }
        margin-left: auto;
        margin-right: 1rem;
        padding: 1rem 2rem;
        border-radius: 0.6rem;
        background-color: $primary-color;

        > span:nth-child(2) {
          text-align: end;
          font-size: 2rem;
        }
      }

      > .d-none {
        display: none;
      }
    }
  }
}