@use "sass:list";

$list-of-colors: ($color-redish, $primary-color, $color-green);

.popular-sales {
  padding: 5rem 3.6rem;

  @include tablet() {
    padding: 10rem 3.6rem;
  }

  > h2 {
    text-align: center;
    @include choose-your-font($font-raleway, 400, 3rem, $color-black);

    @include tablet() {
      @include choose-your-font($font-raleway, 400, 3.6rem, $color-black);
      padding: 0 0 10rem 0;
    }
  }

  > .popular-sales__container-items {
    width: 100%;
    @include display-flex(column);

    @include tablet() {
      @include display-flex(row, center, center);
    }

    > .popular-sales__container-items--item {
      @include display-flex(column, center, center);
      padding: 2.5rem 0;
      flex-grow: 1;

      @include tablet() {
        max-width: 400px;
        padding: 0;
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          > .popular-sales__container-items--item__circle {
            background-color: list.nth($list-of-colors, $i);
          }
        }
      }

      > .popular-sales__container-items--item__circle {
        width: 63px;
        height: 63px;
        @include display-flex(row, center, center);
        position: relative;
        border-radius: 50%;

        > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%);
        }
      }

      > span {
        padding: 1.5rem 0;
        @include choose-your-font($font-raleway, 800, 2rem, $color-black);
      }

      > p {
        text-align: center;
        @include choose-your-font($font-raleway, 400, 1.7rem, $color-grey);
      }
    }
  }
}
